*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.titulo{
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}
body
{
    color: white;
    background-color: black;
}

.main
{
    padding: .5rem;
    border-radius: 1rem;
    height: 100vh;
}

