.header
{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}
.header::after
{
    content: '';
    display: inline-block;
    background-image: url("../img/header.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.header .imagem
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .imagem .photo
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.header .descricao .titulo
{
    text-align: center;
}
.header .descricao .information
{
    width: 100%;
}
.header .descricao .information a
{
    color: white;
    text-decoration: none;
}


.header .descricao .information .job,
.header .descricao .information .location,
.header .descricao .information .phone,
.header .descricao .information .email
{
    display: flex;
    align-items: center;
    height: 3rem;
}
.header .descricao .information .job img,
.header .descricao .information .location img,
.header .descricao .information .phone img,
.header .descricao .information .email img
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.header .descricao .information .job p,
.header .descricao .information .location p,
.header .descricao .information .phone p,
.header .descricao .information .email p
{

    font-weight: 100;;
    font-size: 1rem;
}
@media only screen and (min-width: 768px)
{
    .header
    {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .header .imagem
    {
        width: 30%;
    }
    .header .descricao
    {
        width: 50%;
    }
    .header .descricao .titulo
    {

        font-size: .8rem;
        font-weight: 100;
        text-align: start;
        height: 120px;
        width: 200px;
    }
    
}
@media only screen and (min-width: 900px)
{
    .header .descricao .titulo
    {
        font-size: 18px;
        font-weight: 100;
        text-align: start;
        height: 150px;
        width: 300px;
    }
}